services:
  auth:
    build: ./auth
    container_name: auth_service
    ports:
      - "3001:5005"
    environment:
      - NODE_ENV=development
    restart: unless-stopped

  chat:
    build: ./chat
    container_name: "chat_service"
    ports: 
      - "3002:8080"
    environment:
      - INSTANCE_NAME=chat_service1
      - NODE_ENV=development
      - REDIS_DEV=redis://redis:6379
    depends_on:
      - redis
    restart: unless-stopped
  
  chat1:
    build: ./chat
    container_name: "chat_service1"
    ports: 
      - "3033:8080"
    environment:
      - NODE_ENV=development
      - REDIS_DEV=redis://redis:6379
      - INSTANCE_NAME=chat_service2
    depends_on:
      - redis
    restart: unless-stopped
  
  api-gateway:
    build: ./gateway   # path where your gateway Dockerfile is
    container_name: gateway
    ports:
      - "3003:8005"   # frontend connects to gateway
    environment:
      - NODE_ENV=development
    depends_on:
      - auth
      - chat
    restart: unless-stopped
  
  redis:
    image: redis:latest
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: unless-stopped
  
  nginx:
    image: nginx:1.25
    container_name: nginx_balancer
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "4000:4000"
    depends_on:
      - chat
      - chat1